body {
  margin: 0px;
}

h1 {
  color: blue;
  margin: 0px;
  padding: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 10px;
  background-color: aliceblue;
}

.container {
  background-color: aliceblue;
  margin: 0px;
}